table {
  border: 1px solid black;
}
th{
  padding: 15px 30px;
}
td{
  padding: 10px 30px;
  border: 1px solid rgb(209, 201, 201);
}
.qty{
  padding: 10px 60px;
}
.cart-dlt{  
  display: flex;
  border: 1px solid black;
  padding: 3px 7px;

}
.cart-container{
  margin-left: 40px;
   animation: fadeIn 1s ease-in-out;
}

.cart-shop{
  background-color: rgb(192, 77, 16);
  border: none;
  padding: 10px 10px;
  color: white;
  border-radius: 20px;
}